<!doctype html>
<title>CloudA Test</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>CloudA Test</h1>
  <h2>Convert this form to allow it to upload file on Amazon S3</h2>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
