{% macro render_errors(field) %}
{% if field.errors %}
<ul class="errors">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro input(field) -%}    
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="{{ field.id }}"><span>{{ field.label.text }}{%- if field.flags.required -%}*{%- endif %} :</span></label>
    <div class="controls">
	{{ field(**kwargs)|safe }} {{ render_errors(field) }}
    </div>
</div>        
{%- endmacro %}

{%- macro textarea(field, value='', rows=7, cols=40) -%}
<div class="control-group {% if field.errors %}error{% endif %}">
    <label class="control-label" for="{{ field.id }}"><span>{{ field.label.text }}{%- if field.flags.required -%}*{%- endif %} :</span></label>
    <div class="controls">
	{{ field(**kwargs)|safe }} {{ render_errors(field) }}
    </div>
</div>   
{%- endmacro %}

{%- macro submit(submit_title, cancel_title="", class="btn-primary") -%}
<div class="form-actions">
    <button class="btn {{ class }}" type="submit">{{ submit_title }}</button>                    
</div>
{%- endmacro -%}


{%- macro fields(fields, submit_title, class=None, legend=None) -%}
    <fieldset {% if class %}class="{{class}}"{% endif %}>
	{% if legend %}
	    <legend>{{legend}}</legend>
	{% endif %}
	
	{% for field in fields %}
	    {% if field.type == 'HiddenField' %}
		{{ field() }}
	    {% else %}
		{% if field.type == 'StringField' %}
		    {{ input(field) }}
		{% elif field.type == 'TextAreaField' %}
		    {{ textarea(field) }}
		{% endif %}
	    {% endif %}
	{% endfor %}
    
	{{ submit(submit_title) }}
  </fieldset>
{%- endmacro -%}




{# old _bootstrap.html code #}

{%- macro form_field_label(field) -%}
    <label for="{{ field.id }}">{{ field.label.text }}
    {%- if field.flags.required -%}*{%- endif %}</label>
{% endmacro %}

{%- macro form_field_description(field) -%}
    {% if field.description %}
        <span class="descr">{{ field.description }}</span>
    {% endif %}
{%- endmacro -%}

{%- macro form_field_errors(field) -%}
    {% if field.errors %}
    <div>
        {%- for error in field.errors -%}
        <span class="label label-important">{{ error }}</span>
        {%- endfor -%}
    </div>
    {% endif %}
{%- endmacro -%}

{%- macro form_field_boolean(field) -%} {# special case for checkboxes (label inside controls!) #}
<div class="controls" id="{{field.id}}-div">
	<label for="{{field.id}}" class="checkbox">
        <input type="hidden" name="{{field.name}}" value="" >
		{{ field(value='1',**kwargs) }}
		{{ field.label.text }}
		{{ form_field_description(field) }}
		{{ form_field_errors(field) }}
	</label>
</div>
{%- endmacro -%}

{%- macro action_buttons(submit_title, cancel_title="", submit_class="btn-success btn-large") -%}
<div class="form-actions text-center">
    <button type="submit" class="btn {{submit_class}}">{{submit_title}}</button>
    {% if cancel_title %}
    &nbsp;
    <button type="reset" class="btn">{{cancel_title}}</button>
    {% endif %}
</div>
{%- endmacro -%}

{%- macro form_field(field) -%}
<div class="control-group" id="group-{{ field.id }}">
    {% if field.type == 'HiddenField' %}
        {{ field() }}
    {% else %}
    	{% if field.type == 'BooleanField' %}
            {{ form_field_boolean(field, **kwargs) }}
        {% else%}
            {{ form_field_label(field) }}
            <div class="controls" id="{{field.id}}-div">
	            {% if field.type == 'RadioField' %}
	                {{ field(class='radio-group', **kwargs) }}
                {% elif field.type == 'FieldList' %}
                	{% for subfield in field %}
			            {{ form_field(subfield) }}
			        {% endfor %}
                {% elif field.type == 'FormField' %}
                	{{ form_fields(field) }}
	            {% else %}
	            	{{ field(**kwargs)|safe }}
	            {% endif %}
	            {{ form_field_description(field) }}
	            {{ form_field_errors(field) }}
            </div>
        {% endif %}
    {% endif %}
</div>
{%- endmacro -%}

{%- macro form_fields(fields, class=None, legend=None) -%}
<fieldset {% if class %}class="{{class}}"{% endif %}>
    {% if legend %}
	    <legend>{{legend}}</legend>
    {% endif %}
    {% for field in fields %}
        {% if field.type == 'HiddenField' %}
            {{ field() }}
	{% else %}
            {{ form_field(field) }}
        {% endif %}
    {% endfor %}
</fieldset>
{%- endmacro -%}